div{
    height: 100%;
    /* display: grid; */
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 85% 5%; */
}

header, footer{
    /* grid-column: span 6; */
    /* background: #7bb2b5; */
}

main{
    height: 100%;
    /* background: lightcyan; */
    /* grid-column: span 6; */
    /* overflow: auto; */
    background: rgb(227, 229, 233);

    /* padding: 20px; */
}

aside{
    /* background: #3e6365; */
}

footer{
    /* position: unset; */
}